@model IEnumerable<BerekeEnergy.Models.VTestimony>

@{
    ViewBag.Title = "GeneralIndex";
}

<h2>GeneralIndex</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div style="padding-top: 15px;">
    <table id="GenInd" class="display">
        <thead>
            <tr>
                <th>-</th>
                <th>Контракт</th>
                <th>ИИН</th>
                <th>Получатель</th>
                <th>Сумма</th>
                <th>Бин</th>
                <th>Бик</th>
                <th>Счет</th>
                <th>Транзитный счет</th>
                <th>Дата платежа</th>
                <th>Канал</th>
                <th>Тип операции</th>
                <th>Филиал</th>
                <th>КЛ Пользователь</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#GenInd').dataTable({
            "bServerSide": false,
            "bProcessing": true,
            "ajax": {
                "url": "/Home/GenIndAjaxHandler",
                "dataType": "jsonp"
            },
            "aoColumns": [
                            {
                                "sName": "Id",
                                "bSearchable": false,
                                "bSortable": false,
                                "render": function (oObj) {
                                    return "<input type=\"checkbox\" id=\"" + oObj[0] + "\" />"
                                }
                            },
                            { "sName": "loan_contract_number" },
                            { "sName": "national_id" },
                            { "sName": "name" },
                            { "sName": "amount" },
                            { "sName": "bank_bin" },
                            { "sName": "bank_code" },
                            { "sName": "account_number" },
                            { "sName": "bank_transit_acc_nb" },
                            { "sName": "value_date" },
                            { "sName": "z_chanel_type" },
                            { "sName": "operation_type" },
                            { "sName": "z_branch" },
                            { "sName": "z_user_cl" },
            ]
        });
        $('#PT2').click(function () {
            alert("!!!");
        });
    });
</script>
