
@{
    ViewBag.Title = "Устройиства";
}

<div style="padding-top: 15px;">
    <table id="Device" class="display">
        <thead>
            <tr>
                <th>-</th>
                <th>Код</th>
                <th>Наименование</th>
                <th>Коофициент</th>
                <th>Тип</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

