
@{
    ViewBag.Title = "Dict";
}

<ul>
    <li>@Html.ActionLink("Устроиства", "Device", "Dict")</li>
    <li>@Html.ActionLink("Типы устройст", "TypeDevice", "Dict")</li>
    <li>@Html.ActionLink("Тарифы", "Tariff", "Dict")</li>
</ul>

