
@{
    ViewBag.Title = "Тариф";
}

<div style="padding-top: 15px;">
    <table id="Tariff" class="display">
        <thead>
            <tr>
                <th>-</th>
                <th>Код</th>
                <th>Наименование</th>
                <th>Тариф 1</th>
                <th>Тариф 2</th>
                <th>Тариф 3</th>
                <th>Тариф 4</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

